[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A responsive website allows user to register and introduce their products or places
[access "refs/*"]
	owner = group user/Tien Van Tran (tvtienit)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tien Van Tran (tvtienit)
	label-Verified = -1..+1 group user/Tien Van Tran (tvtienit)
	push = group user/Tien Van Tran (tvtienit)
	read = group user/Tien Van Tran (tvtienit)
	rebase = group user/Tien Van Tran (tvtienit)
	removeReviewer = group user/Tien Van Tran (tvtienit)
	submit = group user/Tien Van Tran (tvtienit)
[access "refs/heads/*"]
	create = group user/Tien Van Tran (tvtienit)
	push = +force group user/Tien Van Tran (tvtienit)
	pushMerge = group user/Tien Van Tran (tvtienit)
	read = group user/Tien Van Tran (tvtienit)
[access "refs/tags/*"]
	push = group user/Tien Van Tran (tvtienit)
	push = +force group user/Tien Van Tran (tvtienit)
